@model jobSalt.Models.Config.SiteConfig
@using jobSalt.Models.Config

<div class="container-fluid header">
    <div class="container">
        <div class="university-logo pull-left"></div><h1>Configuration</h1>
    </div>
    <div class="header-input"></div>
</div>
<div class="container">
    @using (Html.BeginForm("SaveConfig", "Configuration"))
    {
        @Html.EditorForModel()
        <input type="submit" value="submit" />
    }
</div>


