@model jobSalt.Models.JobPost[]
@for (int i = 0; i < Model.Count(); i++)
{
    var guid = Guid.NewGuid().ToString();
    <div class="container" style="padding-left:0px; padding-right:30px" data-toggle="collapse" data-parent="parentList" data-target="#@guid">
        <div class="well">
            <h2>@Model[i].Company</h2>
            <h3>@Model[i].JobTitle</h3>
            <div id="@guid" class="collapse">
                <p>@Html.Raw(Model[i].Description)</p>
                <b>Location:</b><br />
                <b>Posted On:@Model[i].DatePosted.ToShortDateString()</b><br />
                <br />
                <a href="" class="btn btn-primary btn-large" target="_blank">View Source</a>
            </div>
        </div>
    </div>
}
