@using jobSalt.Models;

<div class="container">
    <div class="jumbotron">
        <h1>Job Search</h1>
        @using jobSalt.Models;
        @using (Html.BeginForm("AssignFilter", "FilterUtility"))
        {
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <input id="value" class="form-control" name="value" type="text" value="@ViewBag.FilterBag.Keyword">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
                
            <input type="hidden" id="targetField" name="targetField" value="Keyword" />
            <input type="hidden" name="filterString" id="filterString" value="@ViewBag.FilterString" />
        }
    </div>
</div>


<div class="container">
    <div class="row">
        @Html.Partial("_FilterPartial")
        <div class="col-md-10" id="productList"></div>
        <div id="loading"></div> 
    </div>
</div>

    @section Scripts
    {
        <script type="text/javascript">
            var page = 0;
            var _inCallback = false;

            $(window).load(function () {
                loadJobs();
            });

            $(document).ready(function () {
                $('#sidebar').affix({
                    offset: {
                        top: 180
                    }
                });
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 25) {
                    loadJobs();
                }
            });

            function loadJobs() {
                if (page > -1 && !_inCallback) {
                    _inCallback = true;

                    $('div#loading').html('<p><img src="/Content/images/loading.gif"></p>');
                    var filterString = $("#filterString").val();

                    var fstr = "@Html.Raw(ViewBag.FilterString)";

                    $.get("/Job/Index?page=" + page + "&filterString=" + fstr, function (data) {
                        if (data != '') {
                            $("#productList").append(data);
                            $(".post-new").each(function (index) {
                                $(this).show('slow');
                            });
                        }
                        else {
                            page = -1;
                        }

                        _inCallback = false;
                        $('div#loading').empty();
                    });
                    page++;
                }
            }
        </script>
    }
