@{
    ViewBag.Title = "Home Page";
}


 <div class="container">
    <div class="jumbotron">
        <h1>Job Search</h1>
        <form action="/" method="get" onsubmit="submitQuery">
           @Html.TextBox("query")
           <input type="submit" value="Search"/>
            <!-- This is the simplest way to transfer ViewBag data to javascript -->
            <input type="hidden" id="filterStrings" value="@ViewBag.Filters" />
        </form>
    </div>
     <div id="productList"></div>

     <div id="loading"></div> 
</div>

@section Scripts
{
    <script type="text/javascript">

        $(window).load(function () {
            loadProducts();
        });

        var page = 0;
        var _inCallback = false;

        @using jobSalt.Models;

        function loadProducts() {
            if (page > -1 && !_inCallback) {
                _inCallback = true;
            
                $('div#loading').html('<p><img src="/Content/images/loading.gif"></p>');
                var filters = $("#filterStrings").val();
                $.get("/Job/Index?page=" + page + "&filterStrings=" + filters, function (data) {
                    if (data != '') {
                        $("#productList").append(data);
                    }
                    else {
                        page = -1;
                    }

                    _inCallback = false;
                    $('div#loading').empty();
                });
                page++;
            }
        }

        var dcList = true;

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                loadProducts();
            }
        });
    </script>
}
