@{
    ViewBag.Title = "Home Page";
}


 <div class="container">
    <div class="jumbotron">
        <h1>Job Search</h1>
        @using (Html.BeginForm("Index", "Job"))
        {
           @Html.TextBox("query")
           <input type="submit" value="Search" />
        }
    </div>
     <div id="productList"></div>

     <div id="loading"></div> 
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            loadProducts();
        });

        var page = 1;
        var _inCallback = false;

        function loadProducts() {
            if (page > -1 && !_inCallback) {
                _inCallback = true;
            
                $('div#loading').html('<p><img src="/Content/images/loading.gif"></p>');
                $.get("/Job/Index?page=" + page, function (data) {
                    if (data != '') {
                        $("#productList").append(data);
                    }
                    else {
                        page = -1;
                    }

                    _inCallback = false;
                    $('div#loading').empty();
                });
                page++;
            }
        }

        var dcList = true;

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                loadProducts();
            }
        });
    </script>
}
