@using jobSalt.Models;

<div class="container-fluid header">
    <div class="container">
        <div class="university-logo pull-left"></div><h1>Job Search</h1>
    </div>
    
    @using jobSalt.Models;
    @using (Html.BeginForm("AssignFilter", "FilterUtility"))
    {
        <div class="header-input">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-8 col-md-4">
                        <div class="input-group">
                            <input id="value" class="form-control" name="value" type="text" value="@ViewBag.FilterBag.Keyword">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
                
        <input type="hidden" id="targetField" name="targetField" value="Keyword" />
        <input type="hidden" name="filterString" id="filterString" value="@ViewBag.FilterString" />
    }
</div>


<div class="container">
    <div class="row">
        @Html.Partial("_FilterPartial", Features.Jobs)
        <div class="col-xs-12 col-sm-9">
            <div id="productList"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <h1 id="message"></h1>
                </div>
            </div>
            <div id="loading"><p><img src="/Content/images/loading.gif"></p></div> 
        </div>
        
    </div>
</div>

    @section Scripts
    {
        <script type="text/javascript">
            var page = 0;
            var _inCallback = false;

            $(window).load(function () {
                loadJobs();
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 25) {
                    loadJobs();
                }
            });

            function loadJobs() {
                if (page > -1 && !_inCallback) {
                    _inCallback = true;

                    $('div#loading').show();
                    var filterString = $("#filterString").val();

                    var fstr = "@Html.Raw(ViewBag.FilterString)";
            
                    if (fstr.trim() == '[]') {
                        $("#message").empty();
                        $("#message").append("Add a filter or specify a keyword to begin your search.");
                        page = -1;
                        _inCallback = false;
                        $('div#loading').hide();
                        return;
                    }

                    $.get("/Job/Index?page=" + page + "&filterString=" + fstr, function (data) {
                        if (data.trim() != '') {
                            $("#productList").append(data);
                            $(".post-new").each(function (i) {
                                @if(!Request.Browser.IsMobileDevice)
                                {
                                    <text>
                                    var $item = $(this);

                                    if (i < 13) {
                                        $item.animate({ top: "+=" + 1500 }, 0)
                                        // execute this function sometime later:
                                        setTimeout(function () {
                                            $item.animate({ top: "-=" + 1500 }, 400);
                                        }, 50 * i);
                                    }
                                    </text>
                                }
                                $(this).removeClass("post-new");
                            });
                        }
                        else {
                            if (page == 1) {
                                $("#message").empty();
                                $("#message").append("No results found, try changing the filters");
                            } else {
                                $("#message").empty();
                                $("#message").append("That's all the posts we've got.");
                            }
                            page = -1;
                        }

                        _inCallback = false;
                        $('div#loading').hide();
                    });
                    page++;
                }
            }

            function StopPropagation(event) {
                event.stopPropagation();
            }
        </script>
    }
