body {
    background-image: linear-gradient(top,#fafafa,#f5f5f5);
    background: #e5e5e5;
    font-family: arial,sans-serif;
}

.navbar {
    margin-bottom: 0px;
    min-height: 44px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));
    background: linear-gradient(top,#fafafa,#f5f5f5);
}

.navbar-nav li a {
    color: rgb(159, 162, 166);
    padding-left: 0px;
}

.navbar-nav {
    margin-left: 0px;
}

.navbar-nav::before {
    border: solid #e5e5e5;
    border-width: 0 0 0 1px;
    content: "";
    float: left;
    height: 32px;
    margin: 15px;
}

.navbar-header h1 {
    margin-top: 5px;
    color: #808080;
}

.header {
    padding: 10px;
    height: 185px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(http://www.google.com/landing/now/images/now_background.jpg);
    background-origin: padding-box;
    background-size: auto;
    position: relative;
}

.header h1 {
    color: rgb(235, 235, 235);
    font-family: 'open sans', arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;
    margin-top: 35px;
    width: 100%;
}

.header-input {
    width: 100%;
    background-color: rgba(229, 229, 229, 0.498039);
    position: absolute;
    bottom:0px;
    left: 0px;
    padding-bottom:10px;
}

.header-input .input-group {
    margin-top: 10px;
    box-shadow: 2px 3px 1px rgba(0,0,0,.4);
    border-radius: 4px;
}

.post {
    padding: 10px; 
    border-radius: 2px;
    min-height: 80px;
    background-color: white;
    color: #878787;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.post h3 {
    margin-top: 0px;
}

.post-details {
    min-height: 20px;
    padding: 10px;
    border-radius: 2px;
    background-color: white;
    color: #878787;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.post-margin {
    height: 10px !important;
}

.ellipsis {
    text-overflow:ellipsis; 
    overflow:hidden; 
    text-wrap:none; 
    white-space:nowrap;
}

.arrow-down {
    margin-left: 150px;
    width: 100px;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.arrow-down:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); /* Prefixes... */
    bottom: 12px;
    left: 25px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.arrow-up {
    margin-right: 150px;
    margin-left: auto;
    width: 100px;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.arrow-up:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); /* Prefixes... */
    top: 12px;
    left: 25px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

#message {
    color: #505050;
    font-family: 'open sans', arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;
    margin-top: 100px;
}

.jumbotron {
    margin-bottom: 0px;
    border-radius: 2px;
    background-color: white;
    color: #878787;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

#loading {
    display:none;
    height: 500px;
}

#loading img {
    margin-top: 25px;
    margin-left: 50%;
    margin-right: 50%;
    padding-bottom: 400px;
}

.filter-enabled {
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: #428bca;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.filter-disabled {
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: #7cb6e6;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.filters{
    padding-right: 0px;
}

@media (min-width: 768px){
     #sidebar.affix-top {
        position: static;
        margin-top: 10px;
        width: 162px;
        font-size: 12px;
    }

    #sidebar.affix {
        position: fixed;
        top: 10px;
        width: 162px;
        font-size: 12px;
    }

    .filter-text {
        font-size: 16px;
    }

    .filter-subtitle {
        font-size: 12px;
        font-style: italic;
    }
}

@media (min-width: 1200px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 10px;
        width: 196px;
    }

    #sidebar.affix {
        position: fixed;
        top: 10px;
        width: 196px;
    }

    .filter-text {
        font-size: 18px;
    }

    .filter-subtitle {
        font-size: 12px;
        font-style: italic;
    }
}