body {
    background-image: linear-gradient(top,#fafafa,#f5f5f5);
    background: #f5f5f5;
    font-family: arial,sans-serif;
}

.post {
    min-height: 20px;
    padding: 10px; 
    border-radius: 2px;
    min-height: 107px;
    background-color: white;
    color: #878787;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.post-details {
    min-height: 20px;
    padding: 10px;
    border-radius: 2px;
    background-color: white;
    color: #878787;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.post-margin {
    height: 10px !important;
}

.ellipsis {
    text-overflow:ellipsis; 
    overflow:hidden; 
    text-wrap:none; 
    white-space:nowrap;
}

.arrow-down {
    margin-left: 150px;
    width: 100px;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.arrow-down:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); /* Prefixes... */
    bottom: 12px;
    left: 25px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.arrow-up {
    margin-right: 150px;
    margin-left: auto;
    width: 100px;
    height: 25px;
    position: relative;
    overflow: hidden;
}
.arrow-up:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); /* Prefixes... */
    top: 12px;
    left: 25px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.jumbotron {
    margin-bottom: 0px;
    border-radius: 2px;
    background-color: white;
    color: #878787;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.filter-enabled {
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: #428bca;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.filter-disabled {
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: #6da3d0;
    color: white;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.filters{
    padding-right: 0px;
}

@media (min-width: 768px){
     #sidebar.affix-top {
        position: static;
        margin-top: 10px;
        width: 162px;
        font-size: 12px;
    }

    #sidebar.affix {
        position: fixed;
        top: 60px;
        width: 162px;
        font-size: 12px;
    }

    .filter-text {
        font-size: 16px;
    }

    .filter-subtitle {
        font-size: 12px;
        font-style: italic;
    }
}

@media (min-width: 1200px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 10px;
        width: 196px;
    }

    #sidebar.affix {
        position: fixed;
        top: 60px;
        width: 196px;
    }

    .filter-text {
        font-size: 18px;
    }

    .filter-subtitle {
        font-size: 12px;
        font-style: italic;
    }
}