.university-logo {
    height: 95%;
    margin-top: 10px;
    background-image: url(/Content/images/UA-Logo.png);
}

.header {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b61234),color-stop(1,#890d27));
    background: linear-gradient(top,#b61234,#890d27);
}