<div class="container-fluid header">
    <div class="container">
        <div class="university-logo pull-left"></div><h1>About jobSalt</h1>
    </div>
    <div class="header-input">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="input-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="post" style="margin-top: 10px">
        <h1>About jobSalt</h1>
        <p>
            <br />
            There may be tools provided by a University to help students find jobs, but often times those tools only present a small
            fraction of the available jobs for a given field. The tools are also impersonal, forcing students to apply to companies
            without any knowledge of people who may work at the companies; there may be alumni from the students' schools that would
            be willing to help the student apply. Furthermore, the tools often don?t provide any way to compare offers they may receive
            from companies, to salaries of other people who went to the same University for the same field of study. Lastly, students
            often need help finding housing near their job placement location, and current tools do not help them find or discuss that
            housing with other students who may have lived in the area. </br> </br>
            This project, named jobSalt, aims to solve all of these problems by:
            <ol>
                <li>providing to the user jobs found by the University, as well as jobs found on the Internet</li>
                <li>allowing users to see any alumni who may currently work at the company of their choosing (if those alumni wish to be contacted)</li>
                <li>providing salary data collected by the University for a given field of study</li>
                <li>allowing students to discuss housing options based on a specified company or location.</li>
            </ol>
            <br />
            jobSalt will be implemented as a website, with a design that will make it easy to use on internet-enabled mobile devices.
            It will use the API?s of various social media sites including (tentatively) LinkedIn, Twitter, Indeed, and more to find job
            postings. jobSALT will be designed in a University-independent way, so that any school may use it after some configuration.
            <br />
            <br />
            jobSalt logo designed by Brandon Edquist.<br />
            email: <a href="mailto:bedquist@hotmail.com">bedquist@hotmail.com</a><br />
            personal page: <a href="burashi.tumblr.com">burashi.tumblr.com</a><br />

        </p>
    </div>
    <div class="post" style="margin-top: 10px; margin-bottom: 20px">
        <h1>Developed By</h1>
        <div class="container">
            <div class="col-xs-6 col-md-3">
                <h2>Ross Kahn</h2>
                <img src="/Content/images/profile_ross.jpg" style="width:90%; margin:auto" />
            </div>
            <div class="col-xs-6 col-md-3">
                <h2>Dave Lamont</h2>
                <img src="/Content/images/profile_david.jpg" style="width:90%; margin:auto" />
            </div>
            <div class="col-xs-6 col-md-3">
                <h2>Colton Presler</h2>
                <img src="/Content/images/profile_colton.jpg" style="width:90%; margin:auto" />
            </div>
            <div class="col-xs-6 col-md-3">
                <h2>Daniel Wallach</h2>
                <img src="/Content/images/profile_daniel.jpg" style="width:90%; margin:auto" />
            </div>
            <div class="col-xs-6 col-md-3">
                <h2>Chris Ray</h2>
                <img src="/Content/images/profile_chris.jpg" style="width:90%; margin:auto" />
            </div>
        </div>
    </div>
</div>
