@model jobSalt.Models.Field

@using jobSalt.Models;

@switch (@Model)
{
    case Field.Date:
        <div>
            <input type="text" class="form-control" style="height:30px; width:200px" id="datePicker" />
        </div>
        <script type="text/javascript">
            $('#datePicker').datepicker({
                format: 'mm/dd/yyyy',
            });

            function SubmitFilter() {
                alert("date");
            }
        </script>
        break;
    case Field.Location:
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

<input id="autocomplete" placeholder="Search City, State, or Zip" type="text" class="form-control col-lg-4" style="height:30px; width:200px" />

        <script type="text/javascript">
            var autocomplete = new google.maps.places.Autocomplete( (document.getElementById('autocomplete')),
            {
                types: ['geocode'],
                componentRestrictions: { country: "us" }
            });
            function SubmitFilter() {
                alert("location");
            }
        </script>
        <style type="text/css">
            .pac-container {
                z-index: 1051;
            }
        </style>
        break;    
    default:
        <input id="@ViewBag.inputID" class="form-control col-lg-4" name="value" style="height:30px; width:200px" type="text" value="@FilterUtility.GetFilterValue(@Model, ViewBag.FilterString)">
        <script type="text/javascript">
            function SubmitFilter() {
                window.location = "/FilterUtility/AssignFilter?targetField=" + "@Model" + "&filterString=" + "@ViewBag.FilterString" + "&value=" + $('#@ViewBag.inputID').val();
            }
        </script>
        break;
}