@model jobSalt.Models.Field

@using jobSalt.Models;

@switch (@Model)
{
    case Field.Date:
        <div class="fuelux">
            <div class="datepicker dropdown" id="myDatepicker">
                <div class="input-append">
                    <div class="dropdown-menu"></div>
                    <input type="text" class="span2" value="" data-toggle="dropdown" style="height:30px">
                    <button type="button" class="btn" data-toggle="dropdown"><i class="icon-calendar"></i></button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('#myDatepicker').datepicker({
                restrictDateSelection: false,
                createInput: false
            });

            function SubmitFilter() {
                alert("date");
            }
        </script>
        break;
    default:
        <div class="fuelux">
            <input id="value" name="value" style="height:30px; width:200px" type="text" value="@FilterUtility.GetFilterValue(@Model, ViewBag.FilterString)">
            <script type="text/javascript">
                function SubmitFilter() {
                    window.location = "/FilterUtility/AssignFilter?targetField=" + "@Model" + "&filterString="+ "@ViewBag.FilterString" + "&value=" + $('#value').val();
                }
            </script>
        </div>
        break;
}