<style type="text/css">
    .icon-hover {
        color: #444 !important;
    }
</style>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editTitle">Place Holder</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="@Url.Action("AssignFilter", "FilterUtility")" onsubmit="return SaveAndCloseModal(event)">
                    <div id="editFieldArea"></div>
                </form>
                <div id="editLoadingIcon"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="SaveAndCloseModal()">Save Filter</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->

<script type="text/javascript">
    function SaveAndCloseModal(event){
        //SubmitFilter is defined in the partial view _FilterEditPartial,
        //it changes based on the filter/input type
        SubmitFilter(event);
        $('#myModal').modal('toggle');
        return true;
    }
    $(".icon").hover(
        function () {
            $(this).toggleClass('icon-hover');
        },
        function () {
            $(this).toggleClass('icon-hover');
        }
     );

    function EditFilter(caller, event) {
        $("#editFieldArea").empty();
        $("#editTitle").empty();

        $('#editTitle').html($(caller).data('value'));

        $('div#editLoadingIcon').html('<p><img src="/Content/images/loading.gif"></p>');

        var fstr = "@Html.Raw(ViewBag.FilterString)";

        $.get("/FilterUtility/GetFilterView?targetField=" + $(caller).data('value') + "&filterString=" + fstr, function (data) {
            if (data != '') {
                $("#editFieldArea").append(data);
            }
            $('div#editLoadingIcon').empty();
        });

        $('#editModal').modal('toggle');
    }

    function RemoveFilter(caller, event) {
        var fstr = "@Html.Raw(ViewBag.FilterString)";
        window.location = "/FilterUtility/RemoveFilter?targetField=" + $(caller).data('value') + "&filterString=" + fstr;
        event.stopPropagation();
    }
</script>
